*{
    margin:0;
    padding:0;
    font-family: arial;
}

body{
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("./images/Free-Spins-Casinos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* .black-jack{
    position: absolute;
    z-index: 3;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: none;
} */

#restart{
    display: none;
    z-index: 50;
    position: absolute;
    background-color: red;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 200;
    font-size: 30px;
    padding: 5px 8px;
}

.game-rules{
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    width: 350px;
    min-height: 300px;
    padding: 20px 25px;
    border: 4px solid rgb(73, 73, 69);
    border-radius: 15px;
    text-align: center;
}

.game-rules h3{
    font-size: 25px;
    text-align: center;;
}
.game-rules ul{
    margin-bottom: 20px;
    text-align: left;
    margin-top: 15%;
}

.game-rules ul li{
    margin: 8px 5px;
    font-size: 16px;
    letter-spacing: 1px;
    list-style-type: square;
}

.game-rules button{
    text-align: center;
}

.game-box{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.747);
    width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px ;
    border: 4px solid rgb(73, 73, 69);
    border-radius: 15px;
}
.game-box h1{
    background: -webkit-linear-gradient(rgb(214, 243, 209), rgb(238, 74, 74));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 700;
    user-select: none;
}

#message{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.buttons{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-on{
    position: relative;
    background-color: black;
    width:80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px dotted;
    border-radius: 15px;
}

#cards-el{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 25px;
}

#sum-el {
    position: absolute;
    left: 10%;
    bottom: 0%;
    font-size: 25px;
}

button{
    background-color: rgb(184, 151, 151);
    outline: none;
    border: 1px solid rgb(255, 115, 0);
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

#earnings {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (max-width:450px) {
    .game-box{
        width: 80%;
    }

    .game-box h1{
        font-weight: 600;
        margin: 10px 0px;
    }

    .buttons{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .buttons button {
        margin: 8px 0px;
    }

    .game-on{
        margin: 20px 0px;
    }

    #cards-el{
        font-size: 20px;
    }

    #sum-el {
        font-size: 20px;
    }
}